{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<h1>Apply for {{ job_posting.position }} at {{ job_posting.restaurant.name }} </h1>
<form method="post">
  {% csrf_token %}

  <div class="row">
    <div class="col-3">
      {{ form.first_name|as_crispy_field }}
    </div>
    <div class="col-3">
      {{ form.last_name|as_crispy_field }}
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      {{ form.email|as_crispy_field }}
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      {{ form.resume|as_crispy_field }}
    </div>
  </div>
  <input class="btn btn-primary" type="submit" value="Submit"/>
</form>

{% endblock %}