{% extends "base.html" %}
{% block content %}

<h1>Application Reject</h1>
<form method="post">{% csrf_token %}
  <p>Are you sure you want to reject <strong>{{ applicant }}'s</strong> application for
    <strong>{{ job_posting.position }}</strong> at <strong>{{ job_posting.restaurant_location.restaurant.name }}</strong>
    in <strong>{{ job_posting.restaurant_location.location }}</strong> ?</p>

  <p>This cannot be undone--an email will be sent.</p>
  <input class="btn btn-success" type="submit" value="Yes"/>
</form>
<a class="btn btn-danger" href="{% url 'applications_view' job_posting.id %}">No, go back</a>

{% endblock %}